
/**
  Colors
 */
$black: #1A1A1A;
$gray-light: #F3F4F9;
$gray-light-2: #F8F8FB;
$gray-light-3: #9A9DA4;
$gray: #63666E;
$gray-dark: #33373C;
$blue: #1952E1;
$blue-dark: #1649CA;
$blue-dark-2: #2E3E6E;
$white: #fff;